<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.struts-lab.dto"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:file:./struts-lab-db;AUTO_SERVER=TRUE"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/struts-lab/dao/EquipmentMapper.xml"/>
        <mapper resource="com/struts-lab/dao/InspectionTemplateMapper.xml"/>
        <mapper resource="com/struts-lab/dao/InspectionPlanMapper.xml"/>
        <mapper resource="com/struts-lab/dao/InspectionResultMapper.xml"/>
        <mapper resource="com/struts-lab/dao/IncidentMapper.xml"/>
        <mapper resource="com/struts-lab/dao/CounterOrderMapper.xml"/>
        <mapper resource="com/struts-lab/dao/CapaMapper.xml"/>
        <mapper resource="com/struts-lab/dao/DeptMapper.xml"/>
        <mapper resource="com/struts-lab/dao/EmployeeMapper.xml"/>
        <mapper resource="com/struts-lab/dao/CalendarMapper.xml"/>
        <mapper resource="com/struts-lab/dao/PartsMapper.xml"/>
    </mappers>
</configuration>
